@keyframes r-move {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-r-move {
  animation: r-move 20s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}
